In [13]:
import os
import time
import random
import numpy as np
import pandas as pd

import cv2 as cv
import pygwalker as pyg

In [14]:
data_path = './BeatSaber/P1 VRLOG-5041702'

In [15]:
def list_files(path):
    '''
    读取指定目录下所有JPEG图片的名称，并返回它们的数量和名称。
    '''
    jpg_files = [f for f in os.listdir(path)]    # if f.endswith('.jpg')
    jpg_dict = {'File_Name': jpg_files}
    df = pd.DataFrame(jpg_dict)
    return df

In [16]:
df = list_files(data_path)

In [18]:
df['Data_Type'] = df['File_Name'].apply(lambda x: x[0])
df['File_Type'] = df['File_Name'].apply(lambda x: x[-3:])
df

        File_Name Data_Type File_Type
0      d10002.jpg         d       jpg
1      d10005.jpg         d       jpg
2      d10008.jpg         d       jpg
3      d10011.jpg         d       jpg
4      d10014.jpg         d       jpg
...           ...       ...       ...
31035   s9990.jpg         s       jpg
31036   s9993.jpg         s       jpg
31037   s9996.jpg         s       jpg
31038   s9999.jpg         s       jpg
31039   voice.csv         v       csv

[31040 rows x 3 columns]

In [29]:
statistic_dic = {}
for value in df['Data_Type'].unique():
    count = df[df['Data_Type'] == value].shape[0]
    statistic_dic[value] = [count]

statistic_df = pd.DataFrame(statistic_dic)
statistic_df

       d  g      m      s  v
0  10346  1  10346  10346  1